# When starting a new use case, rename this file to `usecase.env`
# and change the below variables accordingly. This file is included
# in the Taskfile.yaml and can also be used in other contexts where
# these variables are required. All use case wide constants should
# be added in this file.

# Name of the use case. Will be used as part of the ECR repositories
USECASE_NAME="0078_input_management_dkv_ext"

# ECR in which the Docker images for this use case are hosted
USECASE_REGISTRY=906507146617.dkr.ecr.eu-central-1.amazonaws.com

# Use case AWS account
USECASE_AWS_ACCOUNT=906507146617

# AWS regin in which the use case is worked on.
USECASE_AWS_REGION=eu-central-1

# ECR registry from which the SageMaker Spark images are pulled
# See: https://github.com/aws/sagemaker-spark-container/blob/master/available_images.md
USECASE_AWS_REGISTRY=906073651304.dkr.ecr.eu-central-1.amazonaws.com

# PyPi Repo
# Define the location of our custom pypi repository
PIP_INDEX_URL=https://nexus.ai.platform/repository/pypi/simple
PIP_TRUSTED_HOST=nexus.ai.platform
PIP_TRUSTED_HOST=nexus.ai.platform

# project specific buckets
BUCKET_MODELING = "cai-mdev-dkv-modeling"
BUCKET_STAGING = "cai-mdev-dkv-staging"
